body {
  margin: 0;
  padding-top: 0;
  font-family: Proxima Nova;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 302px 0 345px;
}

.color {
  color: #3a4142;
}

.logo {
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #2a2d2e;
}

a:hover {
  color: #2e6476;
  text-decoration: none;
}

.navbar-text {
  font-weight: Semibold;
  font-size: 18px;
  padding-left: 250px;
  padding-right: 40px;
}

.icons {
  padding-right: 20px;
}

.service-nav{
  padding-left: 100px;
  padding-right: 31px;
}

.about-nav, .reviews-nav {
  padding-right: 38px;
}

.portfolio-nav {
  padding-right: 27px;
}

.contact-nav {
  padding-right: 32px;
}

#about {
  padding: 0px 250px;
  margin-bottom: 50px;
}

p {
  margin: 0;
}

.welcome {
  background-image: url('../public/img/background.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  text-align: center;
  color: #df34bd;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: 1px;
  padding-top: 418px;
}

.col-1-2 {
  width: 60%;
  float: left;  
}

.about{
  text-align: end;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 40px;
  padding-right: 25px;
  padding-left: 109px;
}

.row {
  height: 600px;
  padding-left: 50px;
  padding-right: 50px;
} 

.main {
  display: flex;
}

.about-row {
  border-left: 5px solid #efefef;
  border-bottom: 5px solid #efefef;
  padding-left: 50px;
  margin-bottom: 300px;
  width: 40%;
  float: right;  
}

.shortly-about {
  font-weight: 400;
  font-size: 16px;
  text-align: end;
  line-height: 2em;
  margin-bottom: 50px;
  padding-right: 25px;
}

.btn-learn {
  justify-content: flex-end;
}

.btn-learn span {
  padding-right: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff
}

.pink-btn {
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background: rgb(215,88,242);
  background: linear-gradient(90deg, rgba(215,88,242,1) 0%, rgba(226,94,202,1) 100%);
  border-radius: 35px;
  width: 300px;
  height: 60px;
  background-color: #db51da;
} 

.line {
  border: none;
  background-color: #f5f5f5;
  height: 5px;
}

#service {
  padding: 0px 250px;
  margin-bottom: 50px;
}

.service-row {
  margin-bottom: 250px;
}

.text-header {
  padding-left: 20px;
  margin-block-start: 2em;
  font-weight: 900;
  font-size: 36px;
}

.text-content {
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  margin-block-start: 1em;
  line-height: 2em;
  padding-left: 20px;
}

.first-container {
  width: 30%;
}

.img-container {
  padding-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ellipse {
  margin-right: 30px;
}

.ellipse-brand {
  background-image: url('../public/img/Forma-1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.ellipse-app {
  background-image: url('../public/img/Forma-2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.ellipse-support {
  background-image: url('../public/img/Forma-3.png');
  background-repeat: no-repeat;
  background-position: center;
}

.circles {
  flex-wrap: wrap;
  justify-content: space-around;
}

.circle {
  margin-top: 20px;
  width: 10px;
  height: 10px;
  background: #d828b8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ellipse-design {
  background-image: url('../public/img/Forma-4.png');
  background-repeat: no-repeat;
  background-position: center;
}

.ellipse-seo {
  background-image: url('../public/img/Forma-5.png');
  background-repeat: no-repeat;
  background-position: center;
}

.ellipse-coding {
  background-image: url('../public/img/Forma-6.png');
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  padding-top: 5px;
  flex-wrap: wrap;
  font-weight: 900;
  font-size: 16px;
  color: #3c3b3b;
  justify-content: space-around;
}

.next-text {
  margin-bottom: 50px;
}

.text-brand {
  padding-left: 10px;
}

.text-support {
  padding-right: 20px;
}

.second-container {
  width: 70%;
  text-align: center;
  justify-content: flex-end;
}

.new-btn {
  justify-content: flex-start;
  padding: 50px 0 0 35px;
}

#portfolio {
  padding:0px 300px;
  margin-bottom: 120px;
}

.logo-to-port {
  width: 6%;
  padding-top: 50px;
}

.port-row {
  align-items: center;
}

.port-header {
  height: 200px;
}

.intro-to-port {
  width: 90%;
  text-align: end;
}

.port-text-header {
  line-height: 2.2em;
  font-weight: 900;
  font-size: 36px;
}

.port-text-content {
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 2em;
}

.purple-img {
  width: 100%;
}

.first-img {
  flex-wrap: wrap;
  justify-content: center;
}

.second-img {
  padding-top: 70px;
}

.blocks {
  flex-wrap: wrap;
}

.blocks img {
  flex-basis: 60%;
  width: 96%;
  padding-bottom: 50px;
} 

 .img-item:nth-child(n) {
  margin-right: 70px;
}

.footer-port {
  justify-content: space-between;
  padding-top: 50px;
}

.port-text-footer {
  font-size: 16px;
  color:#4a4a4a;
  line-height: 30pt;
}

.btn-all-works {
  padding-right: 45px;
  margin-top: 20px;
}

.btn-all-works span {
  font-size: 18px;
  color: #ffffff;  
  padding-left: 40px;
}

#reviews {
  padding: 0px 300px;
  margin-bottom: 70px;
}

.header-review hr {
  border-width: 1px;
  border-color: #efefef;
  width: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  margin-right: 50px;

}

.header-review {
  align-items: baseline;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 150px;
}

.left {
  padding-right: 10px;
}

.right {
  padding-right: 40px;
}

.some-review {
  width: 350px;
  height: 100px;
  background-color: #f7f7f7;
  border-left: 5px solid #de4bc6;
  padding: 20px 20px 0 20px;
  margin-left: 30px;
}

.people {
  justify-content: space-between;
  margin-bottom: 150px;
}

.people img {
  width: 120px;
}

.michael {
  padding-right: 35px;
}

.names {
  padding-top: 10px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
}

.alex-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.michael-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  padding:0px 300px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contact-block {
  display: inline-flex;
  margin-bottom: 50px;
}

.contact-info {
  width: 950px;
}

.hello {
  font-size: 32px;
  font-weight: 900;  
}

.hello-info {
margin-bottom: 40px;
}

.name, .email, .message {
  border-bottom: 2px solid #efefef;
  width: 500px;
}

.icon-block {
  display: flex;
  flex-direction: column;
}

.icon-block img {
  padding: 20px 0px 10px 30px;
  width: 50%;
}

.inputs p {
  color: #5b646e;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.btn-send {
  padding-top: 15px;
}

.btn-send span {
  font-size: 16px;
  color: #ffffff;
  padding-left: 30px;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call img {
  padding-right: 30px;
}

.call p {
  color: #493f3f;
  font-size: 24px;
}

.phone-img {
  padding-bottom: 30px;
}

.email-img {
  padding-bottom: 30px;
}

.location-img span {
  padding-left: 50px;
}

.footer {
  background-image: url('../public/img/bgf.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 20px 302px 0 345px;
}


.footer .logo {
  padding-top: 180px;
  padding-bottom: 50px;
}

.foot-col {
  color: #ffffff;
}

.foot-service {
  padding-left: 100px;
  padding-right: 20px;
}

.foot-about {
  padding-right: 35px;
}

.foot-review {
  padding-right: 39px;
}

.foot-portfolio {
  padding-right: 35px;
}

.foot-contact {
  padding-right: 22px;
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1450px) {
  
  header {
    padding: 0;
  }
  
  .img-logo {
    padding-left: 100px;
  }

  .service-nav{
    padding-left: 10px;
  }

  .nav-link {
    padding-right: 0 20 0 0;
  }
  
  .navbar-text {
    padding: 0;
  }

  .first-icon {
    padding-left: 10px;
  }

  #about {
    padding: 0 0 0 60px;
  }

  .row {
    padding-left: 0;
  }

  .about-row {
    margin-bottom: 200px;
  }

  #service {
    padding: 0 0 0 60px;
  }

  .first-container {
    display: flex;
  }

  .second-container {
    margin-top: 100px;
  }

  .second-container img {
    width: 76%;
  }

  #portfolio {
    padding: 0 60px;
  }

  .second-img {
    display: block;
  }

  .other-block img {
    width: 41%;
  }

  #reviews {
    padding: 0 0 0 20px;
  }

  #contact {
    padding:0 0 0 50px;
  }

  .footer {
    padding: 0;
  }

  .foot-service {
    padding-left: 10px;
  }
}