body {
  margin: 0;
  padding-top: 0;
  font-family: Proxima Nova;
}
#about {
  padding-left: 300px;
  padding-right: 250px;
}

.color {
  color: #3a4142;
}

.logo {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #2a2d2e;
  padding-right: 20px;
}

a:hover {
  color: #2e6476;
  text-decoration: none;
}

.navbar-text {
  font-weight: Semibold;
  font-size: 18px;
  padding-left: 250px;
  padding-right: 50px;
}

.icons {
  padding-right: 25px;
}

.first-nav {
  padding-left: 100px;
}

p {
  margin: 0;
}

.welcome {
  background-image: url('../public/img/background.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  text-align: center;
  padding-top: 450px;
  color: #df34bd;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 72px;
}

.col-1-2 {
  width: 60%;
  float: left;  
}

.about{
  text-align: end;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 36px;
}

.about-row {
  border-left: 5px solid #efefef;
  border-bottom: 5px solid #efefef;
  padding-left: 50px;
  margin-bottom: 360px;
  margin-left: 135px;
  width: 40%;
  float: right;  
}

.shortly-about {
  font-weight: 400;
  font-size: 16px;
  text-align: end;
  padding-top: 50px;
  line-height: 2em;
}

.btn-learn {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.btn-learn span {
  padding-right: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.pink-btn {
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background: rgb(215,88,242);
  background: linear-gradient(90deg, rgba(215,88,242,1) 0%, rgba(226,94,202,1) 100%);
  border-radius: 35px;
  width: 215px;
  height: 48px;
  background-color: #db51da;
} 

.line {
  border: none;
  background-color: #f5f5f5;
  height: 5px;
}

#section {
  padding-left: 300px;
  padding-right: 250px;
}

.row {
  display: flex;
}

.text-header {
  padding-left: 50px;
  margin-block-start: 2em;
  font-weight: 900;
  font-size: 36px;
}

.text-content {
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  margin-block-start: 1em;
  line-height: 2em;
  padding-left: 50px;
}

.first-container {
  width: 30%;
  padding-left: 250px;
}

.img-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img1 {
  background-image: url('../public/img/Forma-1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  background-image: url('../public/img/Forma-2.png');
  background-repeat: no-repeat;
  background-position: center;
}

.img3 {
  background-image: url('../public/img/Forma-3.png');
  background-repeat: no-repeat;
  background-position: center;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.circle {
  margin-top: 20px;
  width: 10px;
  height: 10px;
  background: #d828b8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.img4 {
  background-image: url('../public/img/Forma-4.png');
  background-repeat: no-repeat;
  background-position: center;
}

.img5 {
  background-image: url('../public/img/Forma-5.png');
  background-repeat: no-repeat;
  background-position: center;
}

.img6 {
  background-image: url('../public/img/Forma-6.png');
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
  font-size: 16px;
  color: #3c3b3b;
}

.text-first {
  padding-left: 45px;
  padding-right: 72px;
}

.text-second {
  padding-right: 68px;
}

.text-first1 {
  padding-left: 55px;
  padding-right: 123px;
}

.text-second1 {
  padding-right: 120px;
}

.second-container {
  width: 70%;
  text-align: center;
  padding-top: 50px;
}

.new-btn {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0 0 35px;
}

.new-line {
  margin-top: 200px;
  width: 70%;
}

#portfolio {
  padding: 80px 250px 120px 300px;
}

.logo-to-port {
  width: 6%;
  text-align: end;
  padding-top: 100px;
}

.port-header {
  height: 200px;
}

.intro-to-port {
  width: 90%;
  text-align: end;
}

.port-text-header {
  line-height: 2.2em;
  font-weight: 900;
  font-size: 36px;
}

.port-text-content {
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  line-height: 2em;
}

.purple-img {
  width: 100%;
  padding-right: 45px;
  padding-top: 60px;
}

.first-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .second-img {
  display: flex;
  padding-top: 70px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
}

.blocks img {
  flex-basis: 60%;
  width: 96%;
  padding-bottom: 50px;
} 

.other-block {
  padding-right: 45px;
}

.img-item {
  padding-right: 70px;
}

.footer-port {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.port-text-footer {
  font-size: 16px;
  color:#4a4a4a;
  line-height: 30pt;
}

.btn-all-works {
  padding-right: 45px;
  margin-top: 20px;
}

.btn-all-works span {
  font-size: 18px;
  color: #ffffff;  
  padding-left: 40px;
}

#reviews {
  padding-left: 300px;
  padding-right: 250px;
}

.header-review hr {
  border-width: 1px;
  border-color: #efefef;
  width: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  margin-right: 50px;

}

.header-review {
  display: flex;
  align-items: baseline;
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 150px;
}

.left {
  padding-right: 10px;
}

.right {
  padding-right: 40px;
}

.some-review {
  width: 350px;
  height: 100px;
  background-color: #f7f7f7;
  border-left: 5px solid #de4bc6;
  padding: 20px 20px 0 20px;
}

.people {
  justify-content: space-between;
}

.block {
  display: flex;
}

.people img {
  padding-right: 30px;
  width: 120px;
}

.michael {
  padding-right: 35px;
}

.name-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}
.names {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
}

.alex-name {
  padding-left: 34px;
  padding-top: 20px;
}

.michael-name {
  padding-right: 485px;
  padding-top: 20px;
}

#contact {
  padding: 70px 250px 100px 300px;
  display: flex;
  justify-content: space-between;
}

.contact-block {
  display: inline-flex;
}

.contact-info {
  width: 950px;
}

.hello {
  font-size: 32px;
  font-weight: 900;  
  padding-bottom: 40px;

}

.name, .email, .message {
  border-bottom: 2px solid #efefef;
  width: 500px;
}

.icon-block {
  display: grid;
}

.icon-block img {
  padding: 20px 0px 10px 30px;
  width: 50%;

}

.inputs p {
  color: #5b646e;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.btn-send {
  padding-top: 50px;
}

.btn-send span {
  font-size: 16px;
  color: #ffffff;
  padding-left: 30px;
}

.call {
  display: inline-grid;
}

.call img {
  padding-right: 30px;

}

.call p {
  color: #493f3f;
  font-size: 24px;
}

.phone-img {
  padding-top: 116px;
}

.location-img {
  padding-bottom: 70px;
}

.footer {
  background-image: url('../public/img/bgf.png');
  background-repeat: no-repeat;
}

.footer .logo {
  padding-top: 200px;
  padding-bottom: 50px;
}

.foot-col {
  color: #ffffff;
}